<div class="container">
  <app-button-header [routerLink]="'home'" [tooltipText]="'Accueil'"
    [iconUrl]="'https://cdn-icons-png.flaticon.com/512/6751/6751141.png'"></app-button-header>
  <app-button-header [routerLink]="'maps'" [tooltipText]="'Maps'"
    [iconUrl]="'https://cdn-icons-png.flaticon.com/512/854/854878.png'"></app-button-header>
  <app-button-header [routerLink]="'icons'" [tooltipText]="'Icônes'"
    [iconUrl]="'https://cdn-icons-png.flaticon.com/512/443/443025.png'"></app-button-header>

</div>
